<% include ./partials/header.ejs %>
    <img src="/images/uploads/<%= user.profileImage %>">
    <div class="flex flex-col items-center gap-2 mt-20">
      <div class="image w-20 h-20 bg-sky-100 rounded-full"><%= user.profileImage %></div>
      <button id="editbtn" class="text-blue-500 capitalize">edit picture</button>
    </div>
    <form action="/update" method="post" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= user.name %>">
        <input id="imageinput" hidden type="file" name="image">
        <textarea name="bio"><%= user.bio %> </textarea>
        <button type="submit">Submit</button>
    </form>
    <script>
      document.querySelector("#editbtn").addEventListener("click",function(){
        document.querySelector("#imageinput").click();
      })
    </script>
<% include ./partials/footer.ejs %>