<% include ./partials/header.ejs %>
<div class="flex justify-center items-center h-screen w-screen bg-amber-400">
  <div class="h-1/2 bg-amber-400">
    <form novalidate method="post" action="/register">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div>
        <label for="Username">Username</label>
        <div>
          <input type="text" id="Username"  name="username" required>
        </div>
      </div>
      <div>
        <label for="passwd">Password</label>
        <input id="passwd" name="password" type="password" required>
      </div>
      <span>Already have an account ? <a href="/login">Log In</a></span>
      <div>
        <button type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>
  <% include ./partials/footer.ejs %>